{% extends 'base.html.twig' %}

{% block stylesheets  %}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('navbar') }}
{% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header class="navbar">
        <div class="navbar-elements">
            <li>Home</li>
            <li>Destinations</li>
            <li>Contact us</li>
        </div>
    </header>
    <main>
        <h1 id="title-vacation">Welcome to your vacation planner</h1>
        {{ component('Destination', { city: 'France', country: 'here'}) }}
        {{ component('Destination', { city: 'France', country: 'here'}) }}
    </main>
    <footer>

    </footer>
{% endblock %}
