@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,500&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

#title-vacation {
  font-size: x-large;
}
