.navbar {
  height: 50px;
  background-color: #1c7575;
}

.navbar-elements {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 80%;
  padding-top: 15px;
  color: white;
  li {
    margin-right: 10%;
  }
}
